@model CommonData.Models.Book

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Add a new book";
}

<h2>Add a new book</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Add a new book</legend>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Isbn, new { @placeholder = "ISBN" })
        @Html.ValidationMessageFor(model => model.Isbn)
    </div>
    <div class="editor-label">
        @Html.Label("ISBN")
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Title, new { @placeholder = "Book title" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="editor-label">
        @Html.Label("Title")
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Author, new { @placeholder = "Book author" })
        @Html.ValidationMessageFor(model => model.Author)
    </div>
    <div class="editor-label">
        @Html.Label("Author")
    </div>

    <div class="editor-field">
        @Html.DropDownListFor(model => model.Genre,
                    new SelectList(Enum.GetValues(typeof(Genre))),
                    "Select genre")

        @Html.ValidationMessageFor(model => model.Genre)
    </div>
    <div class="editor-label">
        @Html.Label("Genre")
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.ReleaseYear, new { @placeholder = "Release year" })
        @Html.ValidationMessageFor(model => model.ReleaseYear)
    </div>
    <div class="editor-label">
        @Html.Label("Release year")
    </div>

    <p>
        <input type="submit" value="Add" class="btn btn-primary" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to list", "ListAll")
</div>